.about {
  max-width: 1280px;
  margin: 0 auto;
}

.about__container {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-top: 110px;
  padding-right: 70px;
  padding-bottom: 141px;
}

.about__title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  border-bottom: solid 1px #000;
  padding-bottom: 23px;
  margin-top: 0;
  margin-bottom: 0;
}


.about__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin-top: 0;
}

.about__wrapper {
  display: flex;
  margin-top: 70px;
}

.about__text-wrapper {

}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  max-width: 550px;
  margin-bottom: 110px;

}

.about__duration-container {
  display: flex;
  justify-content: space-between;
}

.about__text-wrap {
  max-width: 550px;
  margin: 70px 0 110px;
}

.about__text-title {
  margin: 0 0 26px;

  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__text-subtitle {
  margin: 0;

  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about__duration-wrap_back-end {
  width: 20%;
}

.about__duration-wrap_front-end {
  width: 80%;
}

.about__duration {
  padding: 9px 14px;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.about__duration_back-end {
  background-color: #3456F3;
}

.about__duration_front-end {
  background-color: #f2f2f2;
}

.about__duration-name {
  margin: 14px 0 0;
  text-align: center;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

@media screen and (max-width: 1024px) {
  .about__container {
    padding: 90px 0 90px;
  }

  .about__text-wrap {
    width: 319px;
    margin: 70px 0 93px;
  }

  .about__text-title {
    margin: 0 0 22px;
  }

  .about__text-subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .about__text-wrap {
    width: 300px;
    margin: 70px 0 93px;
  }

  .about__text-wrap {
    width: 284px;
    margin: 0 0 56px;
  }

  .about__text-wrap:first-of-type {
    margin: 60px 0 56px;
  }

  .about__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .about {
    padding: 0 18px 0;
  }

  .about__container {
    padding: 70px 0 70px;
  }

  .about__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }



  .about__text-title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 16px;
  }

  .about__text-subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about__duration {
    padding: 11px 10px;
    font-size: 11px;
    line-height: 13px;
  }

  .about__duration-name {
    font-size: 11px;
    line-height: 13px;
  }

  .about__duration-wrap_back-end {
    width: 35%;
  }
}