.techs {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #F5F5F5;
  padding-top: 100px ;
  padding-bottom: 100px;
}

.techs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techs__section-title {
  width: 100%;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: solid 1px #000;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  max-width: 1140px;

}
.techs__title {
  max-width: 600px;
  margin: 90px 0 26px;

  color: #000;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}
.techs__subtitle {
  max-width: 491px;
  margin: 0;

  text-align: center;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.techs__list {
  box-sizing: border-box;
  max-width: 690px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;

  padding: 100px 0 0;
  margin: 0;
}

.techs__list-item {
  width: 88px;
  height: 60px;

  text-align: center;
  background-color: #e8e8e8;
  border: solid 1px #e8e8e8;
  border-radius: 10px;

  list-style: none;
  cursor: pointer;
  transition: linear 0.6s;
}

.techs__list-item:hover {
  background-color: #3456F3;
}

.techs__list-link {
  width: 100%;
  height: 60px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.techs__list-link:visited {
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .techs {
    padding: 90px 40px 90px;
  }

  .techs__title {
    margin: 80px 0 22px;
  }

  .techs__subtitle {
    max-width: 460px;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    padding: 83px 0 0;
  }

  .techs__list-item {
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 70px 18px 70px;
  }

}

@media screen and (max-width: 576px) {
  .techs__section-title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .techs__title {
    margin: 60px 0 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__subtitle {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
  }

  .techs__list-item {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 456px) {
  .techs__list {
    padding: 50px 0 0;
    max-width: 200px;
  }
}